/* for reference on good practices:
https://kinsta.com/fr/blog/meilleurs-pratiques-css/
https://graphiste.com/blog/bonnes-pratiques-css-feuille-style/
https://www.w3.org/standards/
*/

/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  background-color: #09092a;
  padding: 4%;
  font-family: Tahoma, Verdana, sans-serif;

}

h1, h2, h3 {
  color: white;
}

h1, h2 {
  text-align: center;
 }

 p {
  color: white;
 }

.bigger-section{ /* #660033 #19334d*/
  border-block-start: 4px #660033 solid ;
  border-inline: 50px;
}

.presentation p {
  text-align: justify;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  color: white;
  padding: 0;
}


/* RESPONSIVE : GENERAL */

.work {
  text-align: center;
}
.hobbies{
  text-align: center;
}

.odd {
  text-align: right;
}

/* RESPONSIVE : FOR MOBILE PHONES (first) */
[class*="flex-item"] {
  flex: 100%;
}
.skills{
    padding-right: 5%;
    padding-left: 5%;
}


/* RESPONSIVE : FOR TABLETS */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .hobbies {
    flex: 50%;
  }
}


/* RESPONSIVE : FOR DESKTOP */
@media only screen and (min-width: 900px) {
  .flex-item {
    padding: 10px;
  }
  .work {
    flex: 30%;
  }
  .skills {
    flex: 50%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .hobbies {
    flex: 25%;
  }
}
