/* for reference on good practices:
https://kinsta.com/fr/blog/meilleurs-pratiques-css/
https://graphiste.com/blog/bonnes-pratiques-css-feuille-style/
https://www.w3.org/standards/
*/

/* GENERAL */
* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-color: #09092a;
  padding-block-end: 0%;
}

footer  {
  background-color: #040415 ;
  padding: 0.5%;
  padding-left: 5% ;
  padding-right: 5%;
  width: 100%;
}

h1, h2 {
  text-align: center;
  color: white;
 }

h3, p {
  color: white;
}

ul {
  list-style-type: none;
  color: white;
  padding: 0;
}

.presentation p {
  text-align: justify;
}

/* RESPONSIVE : GENERAL */
.work {
  text-align: center;
}
.hobbies{
  text-align: center;
}
.odd {
  text-align: right;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
footer {

}


/* RESPONSIVE : FOR MOBILE PHONES (first) */
.bigger-section{ /* #660033 #19334d*/
  border-block-start: 4px #660033 solid ;
  width: 92%;
  margin-left: 4%;
  padding-bottom: 20px;
}
[class*="flex-item"] {
  flex: 100%;
}


/* RESPONSIVE : FOR TABLETS */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .bigger-section {
    width: 90%;
    margin-left: 5%;
  }
  .hobbies {
    flex: 50%;
  }
}


/* RESPONSIVE : FOR DESKTOP */
@media only screen and (min-width: 900px) {
  .bigger-section {
    width: 88%;
    margin-left: 6%;
  }
  [class*="flex-item"] {
    padding: 10px;
  }
  .flex-item-skills {
    flex: 50%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .work {
    flex: 30%;
  }
  .hobbies {
    flex: 25%;
  }
}
